:root {
    --color_1_sub : #FC53B0;
    --color_2_sub : #8A2BE2;
    --my_black : black;
    --my_white : white;
    --color_1_morph :  #8A2BE2;
    --color_2_morph : #006D77;
}

@font-face {
    font-family: "font_morphosia"; 
    src: url("fonts/KOMIKAB_.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--my_black);
    color : var(--my_white);
}

.subphoria {
    text-decoration: none;
    font-family: "Bruno Ace SC", sans-serif;
    text-align: center;
    font-size: 3em;
    color : var(--my_white);

    background: linear-gradient(var(--color_2_sub),var(--color_1_sub),var(--color_2_sub));
    border-radius: 10em;
    margin : auto;
    padding: 1em;

    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);

    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.morphosia {
    text-decoration: none;
    font-family: "font_morphosia", sans-serif;
    text-align: center;
    font-size: 3em;
    color : var(--my_white);

    background: linear-gradient(var(--color_2_morph),var(--color_1_morph),var(--color_2_morph));
    border-radius: 10em;
    margin : auto;
    padding: 1em; 

    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);

    grid-column: 4 / 4;
    grid-row: 2 / 2;
}

.subphoria:hover {
    color : var(--my_black);
    background: linear-gradient(var(--color_1_sub),var(--color_2_sub),var(--color_1_sub));
}

.morphosia:hover {
    color : var(--my_black);
    background: linear-gradient(var(--color_1_morph),var(--color_2_morph),var(--color_1_morph));
}

.main_section_row {
    display: flex;
    flex-direction: row;
    width: 95%;
    align-items: center;
    margin: auto;
}

.main_section_column {
    display: flex;
    flex-direction: column;
    height: 95%;
    align-items: center;
    margin: auto;
}

.main_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}