:root {
    --color_1 :  #8A2BE2;
    --color_2 : #006D77;
    --my_black : black;
    --my_white : white;
    --too_dark_pink : #E22B83;
    --too_light_black : #121212;

    --dark_duck_green : #006D77;
    --cyber_green : #00F5D4;
    --electrik_green : #2EE5B6;

}

@font-face {
    font-family: "font_morphosia"; 
    src: url("fonts/KOMIKAB_.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Bruno Ace SC", sans-serif;
    text-align: center;
    font-size: 3em;
    color : var(--my_white);

    background: linear-gradient(var(--electrik_green),var(--color_1),var(--electrik_green));
    border-radius: 10em;
    width: 34%;
    margin : auto; 

    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

h2 {
    color : var(--color_1);
}

strong {
    color : var(--color_1);
}

mark {
    background-color: none;
    color : var(--color_2);
    border-radius: 0.3em;
    background-color: var(--my_white);
}

main, header, footer {
    width: 90%;
    margin: auto;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

header, footer {
    background: var(--color_1);
    color: var(--my_black);
    font-weight: bold;
    border-radius: 0.5em;
}

header {
    padding : 0.5%
}

footer {
    padding-top : 0.1%;
    padding-bottom : 0.1%;
    padding-left : 0.5%;
    padding-right : 0.5%;
}

.main_police {
  font-family: "Montserrat", sans-serif;
}



nav {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    text-align: center;
    color: var(--my_black);
}

body {
    background-color: var(--my_black);
    color : var(--my_white);
    font-family: "Montserrat", sans-serif;
}

.button_link {
    text-decoration: none;
    font-weight: 600;
    color: var(--my_black);
    border : 2px var(--my_black) solid;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    background-color: var(--color_1);
    padding: 2px;
}

.button_link:hover {
    text-decoration: none;
    font-weight: 600;
    border : 2px var(--my_white) solid;
    color : var(--my_white);
    background-color: var(--color_2);
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    padding: 10px;
}

.text_link_main{
    text-decoration: none;
    color : var(--color_1);
}

.text_link_footer{
    text-decoration: none;
    color : var(--my_black);
}

.text_link_main:hover {
    text-decoration: none;
    color : var(--my_white);
    background-color: var(--color_2);
}

.text_link_footer:hover {
    text-decoration: none;
    color : var(--my_white);
    background-color: var(--color_2);
}

.logo_morphosia {
    font-family: "font_morphosia", sans-serif; /* "sans-serif" est une solution de secours au cas où */
}

.logo_subphoria{
    font-family: "Bruno Ace SC", sans-serif;
}

.pied {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

.bio_main_section, .NandP_main_section {
    display: flex;
    flex-direction: row;
    width: 95%;
    align-items: center;
    margin: auto;
}

.index_main_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
}

.index_main_section img {
    align-items: right;
}