:root {
    --color_1 :  #8A2BE2;
    --color_2 : #006D77;
    --my_black : black;
    --my_white : white;
    --too_dark_pink : #E22B83;
    --too_light_black : #121212;

    --dark_duck_green : #006D77;
    --cyber_green : #00F5D4;
    --electrik_green : #2EE5B6;

}